{{#partial "title" }}
   Check out my travel photos! <!-- I've changed!-->
{{/partial}}
{{#partial "content"}}
    <h1>Favorite Traveling Photos</h1>
    <ul>
      <li><img src='/images/photo-1556912151-206a0dbfcf79.webp' alt='A Vacation photo.'/></li>
    </ul>
  {{/partial}}

  {{> layout.hbs}}